*:root{
  font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
  font-size:16px;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
p {
  margin: 0;
}

.flexrow{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

.fullwidth{
  min-width:100%;
  max-width:100%;
}
.flex1{
  flex:1;
}

#appContainer{
  height:100vh;
  display:flex;
  flex-direction:column;
}

#timelineContainer {
  display:none;
  height:200px;
  border:1px solid green;
}
#svgContents{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
}
#elementList {
  display:flex;
  flex-direction:column;
}